<!DOCTYPE html>
<html>
<head>
    <title>Список контактов</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/con.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="shortcut icon" href="/pic/favicon.ico" type="image/x-icon">
</head>
<body>
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    <h1>Список контактов</h1>
    <div id="main">
{{#each data_fr}}
    <div>
        <p>
            {{#if this.photo}}
                <img src="/img/{{photo}}.jpg" style="width: 20px;"></img>
            {{/if}}
            <a href="/conts/{{this.id}}">{{this.username}}</a>
            {{#if this.status}} 
                <i class="fa fa-check" aria-hidden="true"></i>
            {{else}}
                <i class="fa fa-minus" aria-hidden="true"></i>
            {{/if}}
        </p>
    </div>
{{/each}}
{{#each f_req}}
    <div class="req">
        <text>Добавить {{this.username}} в список контактов?</text>
        <form action="/add" method="post">
            <input type="number" name="friend_id" value="{{this.sender}}" id = "friend_id" required="" hidden = true>
            <input type="submit" value="добавить">
        </form>
        <form action="/deny" method="post">
            <input type="number" name="friend_id" value="{{this.sender}}" id = "friend_id" required="" hidden = true>
            <input type="submit" value="отклонить">
        </form>
    </div>
{{/each}}
    </div>
    <form action="/find" method="post">
        <input type="text" name="findid" placeholder="user's id" id="userid" required="">
        <input type="submit" value="find">
    </form>
    <button id="nahuy"> </button>
</body>
<html>