<!DOCTYPE html>
<html>
<head>
    <title>Контакт: {{name}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <h1>{{name}}</h1>
    <p>{{status}}</p>
    {{#if prof_photo}}
    <img src="/img/{{prof_photo}}" style="width: {{width}};"></img>
    {{/if}}
</body>
<html>