<!DOCTYPE html>
<html>
<head>
    <title>Контакт: {{username}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <h1>{{username}}</h1>
    <p>{{status}}</p>
    {{#if photo}}
    <img src="/img/{{photo}}.jpg" style="width: {{width}}px;"></img>
    {{/if}}
</body>
<html>